1. Define a two dimensional. Concatenate both of them

In [ ]:
import numpy as np
x = np.array([[1,2,3],[4,5,6]])
y = np.array([[11,12,13],[14,15,16]])
z = np.concatenate((x,y))
z

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [11, 12, 13],
       [14, 15, 16]])

2. Create a dataframe (3x4) with random integers with explicit indexing.Peform sin(df*pi/4) operation over the dataframe.Substract first value of the dataframe from each elements of the dataframe.Substract first row of the dataframe from each rows of the dataframe.

In [ ]:
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size = (3,4)),columns = ['A','B','C','D'])
print(df)
np.sin(df*np.pi/4)
first_value = df.iloc[0][0]
print(df.subtract(first_value,axis =1))
first_row = df.iloc[0]
print(df.subtract(first_row,axis=1))

    A   B   C   D
0  93  76  40  36
1  74   1  98  88
2   2   3  21  44
    A   B   C   D
0   0 -17 -53 -57
1 -19 -92   5  -5
2 -91 -90 -72 -49
    A   B   C   D
0   0   0   0   0
1 -19 -75  58  52
2 -91 -73 -19   8

3. Write a python program to read a csv file using pandas dataframe then dislay the first 8 rows of the data and also display the last 7 rows of teh data.Get and display the data types used in this data.Get and display the unique values available under a particular attribute.

In [ ]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded=files.upload()
import io
iris = pd.read_csv("iris.csv")
iris.head(8)

Saving iris.csv to iris (1).csv

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa

In [ ]:
iris = pd.read_csv("iris.csv")
iris.tail(7)

     sepal.length  sepal.width  petal.length  petal.width    variety
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [ ]:
iris.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

4. Write a python program to read a dataset using pandas dataframe.Next check if there exist any duplicate value and ids exist any duplicate values then remove the duplicate value

In [ ]:
df2 = pd.read_csv("iris.csv")
duplicate = df2[df2.duplicated()]
duplicate

     sepal.length  sepal.width  petal.length  petal.width    variety
142           5.8          2.7           5.1          1.9  Virginica

In [ ]:
df2.drop_duplicates(keep=False, inplace=True)
df2

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[148 rows x 5 columns]